<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="bootstrap.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>


</head>
<body style="background-image: url(images.jpg);background-repeat: no-repeat;background-size: 100%;color: white">
<div style="margin-left: 35%;margin-top: 10%"><h3>To Tweet Log In or Sign Up</h3></div>
<form style="margin-left: 28%;margin-top: 2%;width: 40em;background-color: #00aced;border-radius: 10px;padding: 20px;padding-bottom: 10px;" action="/login" method="post" class="form-horizontal" role="form">

    <div class="form-group">

        <label for="inputName3" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-4">
            <input style="width:25em;" id="inputName3" type='text' name='username' class='form-control' placeholder='Name' required  autofocus >
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-4">
            <input style="width:25em;" id="inputPassword3" type='password' name='password' class='form-control' placeholder='Password' required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Log In</button>
            <a style="margin-left: 1em" href="signup.html">Sign Up</a>

        </div>
    </div>

</form>





</form>


</body>
</html>
